*.zip
*.pdf
*.docx
*.mp4
*.mp3
*.jpg
*.png
videos/
Solution_to_ISLR/
Getting Started/Stat 602 Questionnaire.pdf
Getting Started/Stat 602 Questionnaire1.docx
TextBooks/
Syllabus_and_schedule/
Supplementery_Textbook/